# Database Configuration
DATABASE_URL="mongodb://admin:Xz0k37ZxLrwh_K-i1RjZ9@mongodb:27017/wert_integration?authSource=admin&directConnection=true"

# Server Configuration
PORT=3001
NODE_ENV=production

# JWT Configuration
JWT_SECRET=940358mf203495fm89m34085f094235oJOJIRJKLRJDLF294029M3M48023

# CORS Configuration
CORS_ORIGIN=http://localhost:3000

# Wert.io Configuration (if needed)
WERT_PUBLIC_KEY=your-wert-public-key
WERT_PRIVATE_KEY=your-wert-private-key

# Other Configuration
LOG_LEVEL=info 